
.window-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 7px;
    border-radius: 8px;
}

.window-image:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.315);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.eta {
    font-size: 17px;
}

.mobile-container {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.mobile-img-container {
    width: 130px;
    display: flex;
    justify-content: right;
    
}

.img-upload {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 7px;
    border-radius: 8px;
    scale: 0.5;
}

.cam-icon-frame {
    border-radius: 10px;
    border: 2px solid black;
}
