.yellow-box {
  display: flex;
  overflow: hidden;
  min-width: 312px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.6);
}

.license-number {
  padding: 6px;
}

.blue-box {
  padding: 0px 8px 4px;
  background: #1165b3;
}

.flag {
  width: 18px;
}

.gb {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white-color);
}

.license-input {
  background: #fff;
  border: none;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  font-family: 'UKNumberPlate';
  padding: 8px;
  color: var(--Gray-800, #14151f);
}
.license-input::placeholder {
  color: #cfcfcf;
}

.edit-btn {
  background: none;
  border: none;
  color: #9a73dd;
  font-size: 18px;
  font-weight: 600;
  width: 55px;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: #9a73dd1c;
}
