.license-plate .license-input {
  background: #fff;
  border: none;
  width: calc(100% - 36px);
  font-family: 'UKNumberPlate';
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.48px;
  padding: 7px 8px;
  color: var(--Gray-800, #14151f);
}
.license-plate .license-input.with-search {
  width: calc(100% - 98px);
}
.license-plate .license-input::placeholder {
  color: #cfcfcf;
}

.license-plate .search-button {
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 2px 2px 0;
  background: var(--Light-Blue---Primary-000, #e8f0fe);
  cursor: pointer;
  border: none;
}

.license-plate .search-button:disabled {
  cursor: progress;
}
