.license-plate {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.yellow-box {
  display: flex;
  overflow: hidden;
  background-color: #fdd835;
  width: 342px;
  height: 80px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.6);
  padding: 8px;
}

.license-number {
  padding: 6px;
}

.blue-box {
  width: 28px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.flag {
  width: 18px;
}

.gb {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  color: var(--dark-color);
}

.license-input {
  background: none;
  border: solid 1px var(--black-color);
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  font-family: 'UKNumberPlate';
  margin-left: 5px;
  padding: 8px;
  letter-spacing: 8px;
}

.edit-btn {
  background: none;
  border: none;
  color: #9a73dd;
  font-size: 18px;
  font-weight: 600;
  width: 55px;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: #9a73dd1c;
}
