.closeBtn {
  background: black;
  borderradius: 4px;
  color: white;
  cursor: pointer;
}

.formError {
  color: red;
  fontsize: 12px;
  fontweight: 600;
  lineheight: '20px';
  marginleft: '12px';
  margintop: '4px';
}

.start-chart-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-image: url(src/assets/icons/chat.svg);
  background-size: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #9557e8;
  cursor: pointer;
  z-index: 1;
}
