.closeBtn {
  background: black;
  borderradius: 4px;
  color: white;
  cursor: pointer;
}

.formError {
  color: red;
  fontsize: 12px;
  fontweight: 600;
  lineheight: '20px';
  marginleft: '12px';
  margintop: '4px';
}

.start-chart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s;
  padding: 0px;
  margin: 0 30px 30px 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  min-width: 56px;
  font-size: 24px;
  font-weight: normal;
  text-shadow: none;
  background-color: rgb(135, 90, 123);
  color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 5;
}

.start-chart-btn::before {
  content: '💬';
}

.whatsapp-chat {
  margin: 0 30px 30px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
