
.time-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.09);
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
    overflow: none;
}

.date-picker {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.today-btn {
    background-color: transparent;
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 20px;
    width: 70px;
    height: 35px;
}

.today-btn:hover {
    background-color: #9a73dd1c;
}

.date-nav-container {
    margin-left: 20px;
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.nav-btn {
    display: flex;
    padding: 4px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.nav-btn:hover {
    background-color: #9a73dd1c;
}

.nav-left {
    width: 27px;
    transform: rotate(-90deg);
}

.nav-right {
    width: 27px;
    transform: rotate(90deg);
}

.date-picker-icon {
    width: 27px;
}

.time-select-header {
    margin-top: 15px;
}

.time-select-table {
    width: 100%;
    /* min-width: 550px; */
}

.time-select-dates, .time-select-month {
    width: 100%;
    /* min-width: 90px; */
    font-size: 16px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: start;
    line-height: normal;
}

.time-select-month {
    font-weight: 600;
    align-items: center;
}

.time-select-slot, .time-select-slot-active, .experiment {
    background: none;
    width: 100%;
    height: 45px;
    border: none;
    color: #9a73dd;
    /* min-width: 110px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-select-slot:hover {
    color: white;
    background-color: #9a73ddbe;
}

.time-select-slot-active {
    color: white;
    background-color: #9a73dd;
}

.time-select-slot:disabled {
    background-color: #86868696;
    cursor: default;
    color: transparent;
}

.time-select-entry, .entry-last {
    /* padding-bottom: 7px; */
    border-right: 3px solid #5a5a5a;
    border-bottom: 0.3px solid rgb(136, 136, 136);
    height: 35.7px;
    overflow: hidden;
    max-width: 100px;
}

.time-select-entry:hover, .entry-last:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.315);
}

.entry-last {
    border-right: none;
}

.date-entry, .date-last {
    /* padding-bottom: 7px; */
    border-right: 3px solid #5a5a5a;
    border-bottom: 0.3px solid rgb(136, 136, 136);
    height: auto;
    overflow: hidden;
    max-width: 100px;
}

.date-last {
    border-right: none;
}

.time-select-empty {
    height: 30px;
}

.slots-available {
    font-size: 70%;
}

.time-header-data {
    background: none;
    border: none;
    cursor: default;
    width: 100%;
    font-weight: 200;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.time-select-value, .time-select-value-first {
    position: relative;
    font-size: 16px;
    font-weight: 200;
    padding-left: 6px;
    bottom: -20px;
    height: 18px;
}

.time-select-value-first {
    bottom: -27px
}

.time-select-clock {
    width: 47px;
}

.time-select-today, .time-select-today-invisible {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 15px;
    height: 25px;
}

.time-select-today-invisible {
    opacity: 0;
}

/* --------- some different classes for the alternative time selection component ---------- */

.slot-full {
    background-color: #bb95fd;
    width: 100%;
    height: 37.4px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.slot-empty {
    opacity: 0;
    width: 100%;
    font-size: 70%;
}

.slot-disabled {
    background-color: #dfdfdf;
    width: 100%;
    height: 37.4px;
    font-size: 70%;
    color: transparent;
}

.slot-half {
    width: 100%;
    height: 37.4px;
    font-size: 70%;
}

.stripes {
    width: 100%;
    object-fit: fill;
    opacity: 0.8;
}

.slot-booked {
    background-color: rgb(118, 243, 118);
    height: 37.4px;
    color: transparent;
}

.legend-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-top: 25px;
}

.legend-icon {
    height: 20px;
    width: 40px;
    object-fit: fill;
    color: transparent;
    margin-right: 5px;
}

.past {
    background-color: #dfdfdf;
}

.free {
    border: 1px solid #5a5a5a;
}

.full {
    background-color: #bb95fd;
}

.legend-text {
    font-size: 13px;
    margin-right: 10px;
}

.confirm-btn-container {
    width: 35%;
    display: flex;
    justify-content: right;
}

.confirm-btn {
    background: none;
    border: 2px solid #9a73dd;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    color: #9a73dd;
    font-size: 17px;
}

.confirm-btn:hover {
    background-color: #9a73dd;
    color: white;
}

.confirm-btn-disable {
    border: 2px solid #5a5a5a;
    color: #5a5a5a;
    background: none;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    font-size: 17px;
}

.confirm-btn-disable:hover {
    cursor: default;
}