.contact-page .sec-title {
  padding: 32px;
}

@media (max-width: 767px) {
  .contact-page .sec-title {
    padding: 24px;
  }
}

.map-container {
  height: 280px;
  width: 100%;
  margin-top: 24px;
}

@media (max-width: 767px) {
  .map-container {
    height: 400px;
  }
}

.contact-page .sec-workshop {
  padding: 64px;
}

@media (max-width: 767px) {
  .contact-page .sec-workshop {
    padding: 24px;
  }
}

.whats-app-chat {
  margin-left: 124px;
}
