.contact-page {
  padding-top: 116px;
}

.contact-page .page-header {
  padding: 0 16px 24px;
  border-bottom: solid 1px #f2f2f2;
}

.contact-page .page-header .category {
  color: var(--Light-Blue---Primary-600, #133f85);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.contact-page .page-header .title {
  color: var(--Gray-800, #14151f);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 16px;
}

.contact-page .page-header .description {
  color: var(--Gray-600, #6a6b71);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-top: 12px;
}

.contact-page .page-header .our-office {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-top: 32px;
}

.workshop-wrap {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.workshop-wrap .list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.workshop-wrap .list-item .blue-link {
  color: var(--Light-Blue---Primary-500, #225fc2);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}
