.home .sec-banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.sec-background1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../../public/images/home-banner1.jpeg) no-repeat;
  background-size: cover;
  background-position: 10% center;
  animation: animatedBackground1 10s linear infinite;
  z-index: -1;
}

@keyframes animatedBackground1 {
  0% {
    background-position: 10% center;
  }
  100% {
    background-position: 58% center;
  }
}

.sec-background2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../../public/images/home-banner2.jpeg) no-repeat;
  background-size: cover;
  background-position: 8% center;
  animation: animatedBackground2 10s linear infinite;
  z-index: -1;
}

@keyframes animatedBackground2 {
  0% {
    background-position: 8% center;
  }
  100% {
    background-position: 58% center;
  }
}

.sec-background3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../../public/images/home-banner3.jpeg) no-repeat;
  background-size: auto 100%;
  background-position: 54% center;
  animation: animatedBackground3 10s linear infinite;
  z-index: -1;
}

@keyframes animatedBackground3 {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 130%;
  }
}

.review-animation {
  opacity: 1;
  animation: animatedOpacity 10s linear infinite;
}

@keyframes animatedOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content-animation {
  transform: translateY(0);
  animation: animatedContent 10s linear infinite;
}

@keyframes animatedContent {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-42px);
  }
}

.home .sec-description {
  padding: 48px 16px 64px;
}

.home .sec-description .title {
  color: var(--Gray-800, #14151f);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.9px;
}

.home .sec-description .description {
  color: var(--Gray-700, #474747);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.home .sec-work {
  padding: 0 12px;
}

.home .sec-work .title {
  color: var(--Gray-800, #14151f);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.24px;
  margin-bottom: 16px;
}

.home .sec-work .work-card {
  display: flex;
  gap: 10px;
  border-radius: 0px 2px 2px 0px;
  border-left: var(--4, 4px) solid var(--Light-Blue---Primary-600, #133f85);
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(161, 161, 161, 0.08), 0px 2px 10px 0px rgba(161, 161, 161, 0.1),
    0px 1px 6px 0px rgba(161, 161, 161, 0.12);
}

.home .sec-work .work-card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--12, 12px) var(--16, 16px) var(--16, 16px) var(--24, 24px);
  align-items: flex-start;
  gap: 8px;
}

.home .sec-work .work-card .title {
  color: var(--Gray-600, #6a6b71);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.home .sec-work .work-card .description {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.home .sec-work .work-card .description a {
  color: var(--Light-Blue---Primary-500, #225fc2);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.home .sec-work .work-card .img-wrap {
  position: relative;
  width: 82px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.home .sec-work .work-card .img-wrap img {
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

.home .sec-work .work-card .img-wrap .payment-options {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.home .sec-payment-options .description {
  color: var(--Gray-200, #eaeaeb);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 40px;
}

.home .sec-payment-options .description .phone {
  font-weight: 800;
}

.phone-number {
  white-space: nowrap;
  text-decoration: none;
  color: #9941e5 !important;
}
