.customer-page section {
  position: relative;
}

.customer-page .no-glass {
  position: absolute;
  left: 16px;
  top: 0;
  color: var(--Gray-700, #474747);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
