.customer-page {
  padding-top: 71px;
}

.customer-page .step-wrapper {
  padding: 0 16px;
}

.customer-page .step-wrapper .title {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

.customer-page .step-wrapper .title .gray {
  color: var(--Gray-600, #6a6b71);
}

.customer-page section {
  padding: 0 16px;
  position: relative;
}

.customer-page section .title {
  color: var(--Gray-600, #6a6b71);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.84px;
  margin-bottom: 12px;
}

.customer-page section .description {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 12px;
}

.customer-page section.disabled .description {
  color: var(--Gray-400, #c1c1c3);
}

.customer-page .reg-card {
  padding: 12px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(147, 147, 147, 0.04), 0px 2px 12px 0px rgba(147, 147, 147, 0.07),
    0px 1px 7px 0px rgba(147, 147, 147, 0.09);
}

.customer-page .reg-card.invalid {
  border: 1px solid var(--Red---Semantic-400, #db5555);
}

.customer-page .no-glass {
  position: absolute;
  left: 16px;
  top: 0;
  color: var(--Gray-700, #474747);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.continue-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: var(--16, 16px) var(--16, 16px) 40px var(--16, 16px);
  border-top: 1px solid var(--Gray-100, #f2f2f3);
  background: #fff;
}
