.process-item {
  padding-left: 48px;
  padding-bottom: 32px;
  position: relative;
}

.process-item::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #133f85;
}

.process-item:not(:last-child):after {
  content: '';
  width: 6px;
  height: calc(100% - 12px);
  position: absolute;
  top: 12px;
  left: 9px;
  background: #133f85;
}

.process-item .title {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.process-item-content {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.process-item-image-wrap {
  width: 132px;
  height: 132px;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.process-item-image-wrap img {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  margin: -4px;
  object-fit: cover;
  object-position: center;
}

.top-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: center;
}

.bottom-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: center;
}

.process-check-mark {
  position: absolute;
  top: 26px;
  left: 6px;
  width: 16px !important;
  height: 16px !important;
}

.process-close-mark {
  position: absolute;
  top: calc(50% + 4px);
  left: 6px;
  width: 16px !important;
  height: 16px !important;
}

.process-item .description {
  color: var(--Gray-700, #474747);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  flex: 1;
}
