.service-detail-page {
  padding-top: 116px;
}

.service-detail-page .page-header {
  padding: 0 16px;
}

.service-detail-page .page-header .breadcrumb {
  color: var(--Gray-600, #6a6b71);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.service-detail-page .page-header .breadcrumb .active {
  color: var(--Light-Blue---Primary-600, #133f85);
}

.service-detail-page .page-header .title {
  color: var(--Gray-800, #14151f);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 16px;
}

.service-detail-page .page-header .description {
  color: var(--Gray-600, #6a6b71);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-top: 12px;
}

.service-detail-page .reg-container {
  padding: 0 16px;
}

.service-detail-page .reg-container .title {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.service-detail-page .reg-container .reg-card {
  padding: 12px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(147, 147, 147, 0.04), 0px 2px 12px 0px rgba(147, 147, 147, 0.07),
    0px 1px 7px 0px rgba(147, 147, 147, 0.09);
}

.service-detail-page .process {
  padding: 0 16px;
}

.service-detail-page .process .title {
  color: var(--Gray-800, #14151f);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.service-detail-page .process .description {
  color: var(--Gray-700, #474747);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 8px;
}
