
.pay-main-container, .pay-popup, .pay-top-container, .pay-left-container, .pay-right-container, .pay-info-frame, .pay-frame-inner, .pay-old-container-right, .dis-info-frame, .date-address-container {
    display: flex;
}

.pay-popup, .pay-left-container, .pay-right-container, .pay-frame-inner {
    flex-direction: column;
}

.pay-main-container {
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    /* align-items: center; */
}

.pay-popup {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pay-top-container {
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.pay-left-container {
    justify-content: left;
    align-items: start;
    width: 100%;
}

.pay-right-container {
    justify-content: right;
    align-items: end;
    width: 100%;
}

.pay-info-frame {
    justify-content: space-between;
    align-items: start;
    width: 95%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.09);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.pay-frame-inner {
    align-items: start;
}

.pay-old-container, .pay-old-container-right {
    width: 95%;
    max-width: 400px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.09);
    padding: 7px;
    padding-left: 17px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 18px;
    color: rgb(133, 133, 133);
    text-decoration: line-through;
}

.pay-booking-info {
    font-size: 14px;
    line-height: 17px;
}

.date-address-header {
    color: #2E006C;
    font-weight: 700;
    font-size: 20px;
    width: 85%;
}

.date-address-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.payment-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}


/* ----------------- alternative disabled version -------------- */

.dis-info-frame {
    justify-content: space-between;
    width: 95%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.09);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: rgb(233, 233, 233);
}

.dis-loc-frame {
    width: 100%;
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.09);
    padding: 20px;
    border-radius: 16px;
    margin-top: 15px;
    margin-bottom: 3rem;
    background-color: rgb(233, 233, 233);
}

.pay-user {
    width: 68px;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 99;
}

.popup-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 120%;
    max-width: 550px;
    background-color: white;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
}

.popup-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.popup-btn-container button {
    width: 42%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-btn-container button:hover {
    opacity: 0.9;
}

.popup-close-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin-bottom: 10px;
}

.popup-close {
    width: 30px;
    margin-right: 5px;
}

.popup-close:hover {
    cursor: pointer;
}
