.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
}

.slider-content {
  max-width: 480px;
  margin: auto;
}

.purple-link {
  text-decoration: none;
  color: #9557e8;
}

.purple-link:hover {
  text-decoration: underline;
  color: #9557e8;
}

.sec-tree {
  position: relative;
}

.footer-top {
  background: url(../../../public/images/footer.png) no-repeat;
  background-size: cover;
}

.footer-full {
  background: url(../../../public/images/footer-full.png) no-repeat;
  background-size: cover;
}

.f-logo {
  width: 64px;
}

@media (min-width: 768px) {
  .f-logo {
    width: 90px;
  }
}

.footer-link {
  color: var(--white-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.social-link {
  color: var(--white-color);
  font-size: 24px;
}

@media (min-width: 768px) {
  .social-link {
    font-size: 28px;
  }
}

.social-link:hover {
  color: var(--white-color);
}
