.sec-our-method {
  padding: 64px;
  background: var(--bg-color);
  color: var(--primary-color);
}

.video-iframe {
  height: 240px;
}
@media (min-width: 768px) {
  .video-iframe {
    height: 360px;
  }
}

.before-after-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.extra-image {
  height: 220px;
}

@media (max-width: 767px) {
  .sec-our-method {
    padding: 0 0 80px;
    position: relative;
  }

  .sec-our-method::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--white-color);
  }

  .prev-next {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.before-after-slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.6);
  border: solid 4px var(--white-color);
  width: 40px;
  height: 80px;
  z-index: 1;
  overflow: hidden;
}

.before-after-slick-arrow.prev-arrow {
  transform: translate(calc(-50% - 23px), -50%);
  border-right: none;
  border-radius: 56px 0 0 56px;
}

.before-after-slick-arrow.next-arrow {
  transform: translate(calc(-50% + 23px), -50%);
  border-left: none;
  border-radius: 0 56px 56px 0;
}

.before-after-slick-arrow .fa {
  color: var(--white-color);
  font-size: 56px;
}

.before-after-slick-arrow.prev-arrow .fa,
.before-after-slick-arrow.next-arrow .fa {
  transform: translate(0px, 0px);
}

.before-after-slider {
  position: relative;
  height: 100%;
}

.before-after-slider:before {
  content: '';
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white-color);
  z-index: 1;
}

.before-after-slider .slick-list,
.before-after-slider .slick-list .slick-track,
.before-after-slider .slick-list .slick-track .slick-slide,
.before-after-slider .slick-list .slick-track .slick-slide > div {
  height: 100%;
}
