.comparison-page .comparison-table-container {
  max-width: calc(100vw - 32px);
  overflow: auto;
  padding: 8px 0 16px;
}

.comparison-page .comparison-table-container .comparison-table {
  position: relative;
  table-layout: fixed;
}

@media (max-width: 991px) {
  .comparison-page .comparison-table-container .comparison-table {
    width: 460px;
  }
}

.comparison-page .comparison-table-container .comparison-table::before {
  content: '';
  display: block;
  position: absolute;
  width: 160px;
  height: 100%;
  top: 0;
  left: 120px;
  box-shadow: 0px 8px 16px 0px rgba(65, 65, 65, 0.04), 0px 5px 10px 0px rgba(65, 65, 65, 0.04),
    0px 2px 4px 0px rgba(65, 65, 65, 0.06);
}

@media (min-width: 992px) {
  .comparison-page .comparison-table-container .comparison-table::before {
    left: 360px;
    width: 360px;
  }
}

.comparison-page .comparison-table tr {
  position: inherit;
}

.comparison-page .comparison-table tr:not(:last-child) {
  border-bottom: 1px solid var(--Gray-100, #f2f2f3);
}

.comparison-page .comparison-table tr th {
  color: var(--Gray-800, #14151f);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.28px;
  padding: 16px 12px;
  text-align: center;
}
@media (min-width: 992px) {
  .comparison-page .comparison-table tr th {
    font-size: 20px;
  }
}

.comparison-page .comparison-table tr th:nth-child(2) {
  background: #fff;
}

.comparison-page .comparison-table tr td:nth-child(1) {
  color: var(--Gray-800, #14151f);
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding: 12px 16px;
}

.comparison-page .comparison-table tr td:nth-child(2) {
  color: var(--Gray-800, #14151f);
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0.24px;
  vertical-align: top;
  background: #fff;
  padding: 12px 30px;
}

.comparison-page .comparison-table tr td:nth-child(3) {
  color: var(--Gray-800, #14151f);
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0.24px;
  vertical-align: top;
  padding: 12px 30px;
}

.comparison-page .comparison-table tr td {
  font-size: 12px;
}

@media (min-width: 992px) {
  .comparison-page .comparison-table tr td {
    font-size: 16px;
  }
}
